Package: com.rpgfarm.notifica
Name: Notifica (BawAppie)
Depends: mobilesubstrate, org.thebigboss.libcolorpicker (>= 1.6.9), ws.hbang.common (>= 1.11), firmware (>= 11.0)
Conflicts: io.ominousness.modernxi, me.nepeta.libnepeta
Replace: me.nepeta.notifica
Version: 1.0
Architecture: iphoneos-arm
Description: Notification customizer
Maintainer: Nepeta & BawAppie <pp121324@gmail.com>
Author: Nepeta & BawAppie <pp121324@gmail.com>
Section: Tweaks
